doctype html 
html 
  head 
    include partials/title.pug
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="http://localhost:4000/static/css/style.css")
  body 
    header
      nav 
        ul 
          li 
            a(href="/") 홈
          li 
            a(href="/login") 로그인
          li 
            a(href="/signup") 회원가입
    main
      block content